html,
body {
    overflow: hidden;
}

#content {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.col {
    position: relative;
    height: 100%;
    width: 50%;
    overflow: auto;
}

@media (max-width: 1000px) {
    #content {
        flex-direction: column;
    }
    .col {
        width: 100%;
    }
    .col:first-child {
        border-bottom: 1px dashed #999;
    }
}

#output {
    width: 100%;
    height: 100%;
    overflow: visible;
}

img {
    max-width: 100%;
}

textarea#input,
#editor,
#output {
    padding: 0 1em;
}