@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre');
@import url('https://fonts.googleapis.com/css?family=Song+Myung');
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #454545;
    font-family: 'Song Myung', 'Frank Ruhl Libre', serif;
}

a {
    color: #690;
    text-decoration: none;
}

.highlight,
.highlight>.katex-display {
    background-color: gold;
}