$color-special-char: red;
$color-env: yellow;
$color-math: green;
$color-link: blue;
$color-img: fuchsia;
$color-tikz: aqua;
$color-li: purple;
// 
[data-type] {
    display: block;
    white-space: pre-wrap;
}

[data-type=''],
[data-type='-'],
[data-type='b'],
[data-type='i'],
[data-type='u'],
[data-type='a'],
[data-type='img'],
[data-type='$'] {
    display: inline;
}

[data-type='p'],
[data-type='$$'] {
    white-space: pre-wrap;
}

[data-type^='h'] {
    color: black;
    &::before {
        color: $color-special-char;
    }
}

[data-type='$'] {
    &::before,
    &::after {
        content: '$';
        color: $color-special-char;
    }
}

[data-type='$$'] {
    &::before,
    &::after {
        content: '$$';
        color: $color-special-char;
    }
}

[data-type='$'],
[data-type='$$'] {
    color: $color-math;
}

[data-type='tikz'] {
    color: $color-tikz;
}

[data-type^='env'],
[data-type='cmd'] {
    color: $color-env;
}

[data-type='env-e'] {
    text-decoration: line-through;
}

[data-type='-'] {
    color: $color-li;
}

[data-type='a'] {
    color: $color-link;
}

[data-type='img'] {
    color: $color-img;
}

[data-type='b'] {
    color: black;
    &::before,
    &::after {
        content: '*';
    }
}

[data-type='u'] {
    text-decoration: underline;
    &::before,
    &::after {
        content: '_';
    }
}

[data-type='i'] {
    font-style: italic;
    &::before,
    &::after {
        content: '/';
    }
}

[data-type='h1']::before {
    content: '# ';
}

[data-type='h2']::before {
    content: '## ';
}

[data-type='h3']::before {
    content: '### ';
}

[data-type='h4']::before {
    content: '#### ';
}

[data-type='h5']::before {
    content: '##### ';
}

[data-type='h6']::before {
    content: '###### ';
}
