$color-special-char: orange;
$color-env: darkred;
$color-math: turquoise;
$color-link: blue;
$color-img: coral;
$color-tikz: darkgreen;
// 
[data-type] {
    display: block;
    white-space: pre-wrap;
}

[data-type=''],
[data-type='b'],
[data-type='i'],
[data-type='u'],
[data-type='a'],
[data-type='img'],
[data-type='$'] {
    display: inline;
}

[data-type='p'],
[data-type='$$'] {
    white-space: pre-wrap;
}

[data-type^='h'] {
    color: black;
    >.token {
        color: $color-special-char;
    }
}

[data-type='ul'],
[data-type='li'] {
    >.token {
        color: $color-special-char;
    }
}

[data-type='$'] {
    &::before,
    &::after {
        content: '$';
        color: $color-special-char;
    }
}

[data-type='$$'] {
    &::before,
    &::after {
        content: '$$';
        color: $color-special-char;
    }
}

[data-type='$'],
[data-type='$$'] {
    color: $color-math;
}

[data-type='tikz'] {
    color: $color-tikz;
}

[data-type='cmd'] {
    color: $color-env;
}

[data-type^='env'] {
    color: $color-env;
}

[data-type='env-e'] {
    text-decoration: line-through;
}

[data-type='a'] {
    color: $color-link;
}

[data-type='img'] {
    color: $color-img;
}

[data-type='b'] {
    color: black;
}

[data-type='i'] {
    font-style: italic;
}

[data-type='u'] {
    text-decoration: underline;
}
