<!doctype html>
<html lang="en">

<head>
    <!-- META -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" href="/favicon-256.png">


    <!-- TITLE -->
    <title>TeX.ninja</title>

    <!-- SCRIPTS -->
    <script src="index.w.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div id='content' class='output'></div>
</body>

</html>